<header class="mdl-layout__header newbg">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-title"><img src="~/Images/page/logo.png" /></div>
        <div class="layui-input-inline">
            <select class="showLang">
                <option value="English">English</option>
                <option value="SimplifiedChinese">中文(简体)</option>
                <option value="TraditionalChinese">中文(繁體)</option>
            </select>
        </div>
    </div>
</header>
