<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Case.title">Watch Case</span></h2>
    <div class="layui-colla-content">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Case.title.01">Stainless Steel PVD</span></h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchCase">
                        <input class="color-checkbox__input" type="radio" id="col-A01" value="/Images/product/A01.png" name="colour" />
                        <label class="color-checkbox A01" for="col-A01" id="col-A01-label" style="background: url('/Images/thumbs/A01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A01-label">A01</span>

                        <input class="color-checkbox__input" type="radio" id="col-A02" value="/Images/product/A02.png" name="colour" />
                        <label class="color-checkbox A02" for="col-A02" id="col-A02-label" style="background: url('/Images/thumbs/A02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A02-label">A02</span>

                        <input class="color-checkbox__input" type="radio" id="col-A03" value="/Images/product/A03.png" name="colour" />
                        <label class="color-checkbox A03" for="col-A03" id="col-A03-label" style="background: url('/Images/thumbs/A03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A03-label">A03</span>

                        <input class="color-checkbox__input" type="radio" id="col-A14" value="/Images/product/A14.png" name="colour" />
                        <label class="color-checkbox A14" for="col-A14" id="col-A14-label" style="background: url('/Images/thumbs/A14.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A14-label">A14</span>

                        <input class="color-checkbox__input" type="radio" id="col-A19" value="/Images/product/A19.png" name="colour" />
                        <label class="color-checkbox A19" for="col-A19" id="col-A19-label" style="background: url('/Images/thumbs/A19.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A19-label">A19</span>

                        <input class="color-checkbox__input" type="radio" id="col-A20" value="/Images/product/A20.png" name="colour" />
                        <label class="color-checkbox A20" for="col-A20" id="col-A20-label" style="background: url('/Images/thumbs/A20.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A20-label">A20</span>

                        <input class="color-checkbox__input" type="radio" id="col-A21" value="/Images/product/A21.png" name="colour" />
                        <label class="color-checkbox A21" for="col-A21" id="col-A21-label" style="background: url('/Images/thumbs/A21.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A21-label">A21</span>

                        <input class="color-checkbox__input" type="radio" id="col-A22" value="/Images/product/A22.png" name="colour" />
                        <label class="color-checkbox A22" for="col-A22" id="col-A22-label" style="background: url('/Images/thumbs/A22.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A22-label">A22</span>

                        <input class="color-checkbox__input" type="radio" id="col-A23" value="/Images/product/A23.png" name="colour" />
                        <label class="color-checkbox A23" for="col-A23" id="col-A23-label" style="background: url('/Images/thumbs/A23.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A23-label">A23</span>

                    </div>

                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Case.title.02">Stainless Steel Cerakote</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchCase">
                        <input class="color-checkbox__input" type="radio" id="col-A09" value="/Images/product/A09.png" name="colour" />
                        <label class="color-checkbox A09" for="col-A09" id="col-A09-label" style="background: url('/Images/thumbs/A09.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A09-label">A09</span>

                        <input class="color-checkbox__input" type="radio" id="col-A10" value="/Images/product/A10.png" name="colour" />
                        <label class="color-checkbox A10" for="col-A10" id="col-A10-label" style="background: url('/Images/thumbs/A10.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A10-label">A10</span>

                        <input class="color-checkbox__input" type="radio" id="col-A11" value="/Images/product/A11.png" name="colour" />
                        <label class="color-checkbox A11" for="col-A11" id="col-A11-label" style="background: url('/Images/thumbs/A11.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A11-label">A11</span>

                        <input class="color-checkbox__input" type="radio" id="col-A12" value="/Images/product/A12.png" name="colour" />
                        <label class="color-checkbox A12" for="col-A12" id="col-A12-label" style="background: url('/Images/thumbs/A12.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A12-label">A12</span>

                        <input class="color-checkbox__input" type="radio" id="col-A13" value="/Images/product/A13.png" name="colour" />
                        <label class="color-checkbox A13" for="col-A13" id="col-A13-label" style="background: url('/Images/thumbs/A13.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A13-label">A13</span>
                    </div>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Case.title.03">Plastic</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchCase">

                        <input class="color-checkbox__input" type="radio" id="col-A04" value="/Images/product/A04.png" name="colour" />
                        <label class="color-checkbox A04" for="col-A04" id="col-A04-label" style="background: url('/Images/thumbs/A04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A04-label">A04</span>

                        <input class="color-checkbox__input" type="radio" id="col-A05" value="/Images/product/A05.png" name="colour" />
                        <label class="color-checkbox A05" for="col-A05" id="col-A05-label" style="background: url('/Images/thumbs/A05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A05-label">A05</span>

                        <input class="color-checkbox__input" type="radio" id="col-A06" value="/Images/product/A06.png" name="colour" />
                        <label class="color-checkbox A06" for="col-A06" id="col-A06-label" style="background: url('/Images/thumbs/A06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A06-label">A06</span>

                        <input class="color-checkbox__input" type="radio" id="col-A07" value="/Images/product/A07.png" name="colour" />
                        <label class="color-checkbox A07" for="col-A07" id="col-A07-label" style="background: url('/Images/thumbs/A07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A07-label">A07</span>

                        <input class="color-checkbox__input" type="radio" id="col-A08" value="/Images/product/A08.png" name="colour" />
                        <label class="color-checkbox A08" for="col-A08" id="col-A08-label" style="background: url('/Images/thumbs/A08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A08-label">A08</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>