<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Strap.title">Watch Strap</span></h2>
    <div class="layui-colla-content">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Strap.title.01">Stainless Steels Band</span></h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchBand">
                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-01" value="/Images/product/IN-STP-01.png" name="colour" />
                        <label class="color-checkbox IN-STP-01" for="col-IN-STP-01" id="col-IN-STP-01-label" style="background: url('/Images/thumbs/IN-STP-01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-01-label">IN-STP-01</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-02" value="/Images/product/IN-STP-02.png" name="colour" />
                        <label class="color-checkbox IN-STP-02" for="col-IN-STP-02" id="col-IN-STP-02-label" style="background: url('/Images/thumbs/IN-STP-02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-02-label">IN-STP-02</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-03" value="/Images/product/IN-STP-03.png" name="colour" />
                        <label class="color-checkbox IN-STP-03" for="col-IN-STP-03" id="col-IN-STP-03-label" style="background: url('/Images/thumbs/IN-STP-03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-03-label">IN-STP-03</span>
                    </div>

                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Strap.title.02">Genuine Leather</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchBand">
                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-04" value="/Images/product/IN-STP-04.png" name="colour" />
                        <label class="color-checkbox IN-STP-04" for="col-IN-STP-04" id="col-IN-STP-04-label" style="background: url('/Images/thumbs/IN-STP-04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-04-label">IN-STP-04</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-05" value="/Images/product/IN-STP-05.png" name="colour" />
                        <label class="color-checkbox IN-STP-05" for="col-IN-STP-05" id="col-IN-STP-05-label" style="background: url('/Images/thumbs/IN-STP-05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-05-label">IN-STP-05</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-06" value="/Images/product/IN-STP-06.png" name="colour" />
                        <label class="color-checkbox IN-STP-06" for="col-IN-STP-06" id="col-IN-STP-06-label" style="background: url('/Images/thumbs/IN-STP-06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-06-label">IN-STP-06</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-07" value="/Images/product/IN-STP-07.png" name="colour" />
                        <label class="color-checkbox IN-STP-07" for="col-IN-STP-07" id="col-IN-STP-07-label" style="background: url('/Images/thumbs/IN-STP-07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-07-label">IN-STP-07</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-08" value="/Images/product/IN-STP-08.png" name="colour" />
                        <label class="color-checkbox IN-STP-08" for="col-IN-STP-08" id="col-IN-STP-08-label" style="background: url('/Images/thumbs/IN-STP-08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-08-label">IN-STP-08</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-09" value="/Images/product/IN-STP-09.png" name="colour" />
                        <label class="color-checkbox IN-STP-09" for="col-IN-STP-09" id="col-IN-STP-09-label" style="background: url('/Images/thumbs/IN-STP-09.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-09-label">IN-STP-09</span>
                    </div>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Strap.title.03">Silicon</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchBand">
                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-10" value="/Images/product/IN-STP-10.png" name="colour" />
                        <label class="color-checkbox IN-STP-10" for="col-IN-STP-10" id="col-IN-STP-10-label" style="background: url('/Images/thumbs/IN-STP-10.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-10-label">IN-STP-10</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-11" value="/Images/product/IN-STP-11.png" name="colour" />
                        <label class="color-checkbox IN-STP-11" for="col-IN-STP-11" id="col-IN-STP-11-label" style="background: url('/Images/thumbs/IN-STP-11.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-11-label">IN-STP-11</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-12" value="/Images/product/IN-STP-12.png" name="colour" />
                        <label class="color-checkbox IN-STP-12" for="col-IN-STP-12" id="col-IN-STP-12-label" style="background: url('/Images/thumbs/IN-STP-12.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-12-label">IN-STP-12</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-13" value="/Images/product/IN-STP-13.png" name="colour" />
                        <label class="color-checkbox IN-STP-13" for="col-IN-STP-13" id="col-IN-STP-13-label" style="background: url('/Images/thumbs/IN-STP-13.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-13-label">IN-STP-13</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-14" value="/Images/product/IN-STP-14.png" name="colour" />
                        <label class="color-checkbox IN-STP-14" for="col-IN-STP-14" id="col-IN-STP-14-label" style="background: url('/Images/thumbs/IN-STP-14.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-14-label">IN-STP-14</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-15" value="/Images/product/IN-STP-15.png" name="colour" />
                        <label class="color-checkbox IN-STP-15" for="col-IN-STP-15" id="col-IN-STP-15-label" style="background: url('/Images/thumbs/IN-STP-15.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-15-label">IN-STP-15</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-16" value="/Images/product/IN-STP-16.png" name="colour" />
                        <label class="color-checkbox IN-STP-16" for="col-IN-STP-16" id="col-IN-STP-16-label" style="background: url('/Images/thumbs/IN-STP-16.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-16-label">IN-STP-16</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-STP-17" value="/Images/product/IN-STP-17.png" name="colour" />
                        <label class="color-checkbox IN-STP-17" for="col-IN-STP-17" id="col-IN-STP-17-label" style="background: url('/Images/thumbs/IN-STP-17.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-STP-17-label">IN-STP-17</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>