<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Face.title">Watch Face Plate</span></h2>
    <div class="layui-colla-content">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Face.title.01">Stainless Steel PVD</span></h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchFace">
                        <input class="color-checkbox__input" type="radio" id="col-B01" value="/Images/product/B01.png" name="colour" />
                        <label class="color-checkbox B01" for="col-B01" id="col-B01-label" style="background: url('/Images/thumbs/B01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B01-label">B01</span>

                        <input class="color-checkbox__input" type="radio" id="col-B02" value="/Images/product/B02.png" name="colour" />
                        <label class="color-checkbox B02" for="col-B02" id="col-B02-label" style="background: url('/Images/thumbs/B02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B02-label">B02</span>

                        <input class="color-checkbox__input" type="radio" id="col-B03" value="/Images/product/B03.png" name="colour" />
                        <label class="color-checkbox B03" for="col-B03" id="col-B03-label" style="background: url('/Images/thumbs/B03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B03-label">B03</span>

                        <input class="color-checkbox__input" type="radio" id="col-B14" value="/Images/product/B14.png" name="colour" />
                        <label class="color-checkbox B14" for="col-B14" id="col-B14-label" style="background: url('/Images/thumbs/B14.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B14-label">B14</span>

                        <input class="color-checkbox__input" type="radio" id="col-B15" value="/Images/product/B15.png" name="colour" />
                        <label class="color-checkbox B15" for="col-B15" id="col-B15-label" style="background: url('/Images/thumbs/B15.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B15-label">B15</span>

                        <input class="color-checkbox__input" type="radio" id="col-B16" value="/Images/product/B16.png" name="colour" />
                        <label class="color-checkbox B16" for="col-B16" id="col-B16-label" style="background: url('/Images/thumbs/B16.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B16-label">B16</span>

                        <input class="color-checkbox__input" type="radio" id="col-B17" value="/Images/product/B17.png" name="colour" />
                        <label class="color-checkbox B17" for="col-B17" id="col-B17-label" style="background: url('/Images/thumbs/B17.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B17-label">B17</span>

                        <input class="color-checkbox__input" type="radio" id="col-B18" value="/Images/product/B18.png" name="colour" />
                        <label class="color-checkbox B18" for="col-B18" id="col-B18-label" style="background: url('/Images/thumbs/B18.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B18-label">B18</span>

                        <input class="color-checkbox__input" type="radio" id="col-B19" value="/Images/product/B19.png" name="colour" />
                        <label class="color-checkbox B19" for="col-B19" id="col-B19-label" style="background: url('/Images/thumbs/B19.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B19-label">B19</span>

                    </div>

                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Face.title.02">Stainless Steel Cerakote</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchFace">
                        <input class="color-checkbox__input" type="radio" id="col-B09" value="/Images/product/B09.png" name="colour" />
                        <label class="color-checkbox B09" for="col-B09" id="col-B09-label" style="background: url('/Images/thumbs/B09.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B09-label">B09</span>

                        <input class="color-checkbox__input" type="radio" id="col-B10" value="/Images/product/B10.png" name="colour" />
                        <label class="color-checkbox B10" for="col-B10" id="col-B10-label" style="background: url('/Images/thumbs/B10.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B10-label">B10</span>

                        <input class="color-checkbox__input" type="radio" id="col-B11" value="/Images/product/B11.png" name="colour" />
                        <label class="color-checkbox B11" for="col-B11" id="col-B11-label" style="background: url('/Images/thumbs/B11.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B11-label">B11</span>

                        <input class="color-checkbox__input" type="radio" id="col-B12" value="/Images/product/B12.png" name="colour" />
                        <label class="color-checkbox B12" for="col-B12" id="col-B12-label" style="background: url('/Images/thumbs/B12.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B12-label">B12</span>

                        <input class="color-checkbox__input" type="radio" id="col-B13" value="/Images/product/B13.png" name="colour" />
                        <label class="color-checkbox B13" for="col-B13" id="col-B13-label" style="background: url('/Images/thumbs/B13.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B13-label">B13</span>
                    </div>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Face.title.03">Plastic</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchFace">

                        <input class="color-checkbox__input" type="radio" id="col-B04" value="/Images/product/B04.png" name="colour" />
                        <label class="color-checkbox B04" for="col-B04" id="col-B04-label" style="background: url('/Images/thumbs/B04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B04-label">B04</span>

                        <input class="color-checkbox__input" type="radio" id="col-B05" value="/Images/product/B05.png" name="colour" />
                        <label class="color-checkbox B05" for="col-B05" id="col-B05-label" style="background: url('/Images/thumbs/B05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B05-label">B05</span>

                        <input class="color-checkbox__input" type="radio" id="col-B06" value="/Images/product/B06.png" name="colour" />
                        <label class="color-checkbox B06" for="col-B06" id="col-B06-label" style="background: url('/Images/thumbs/B06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B06-label">B06</span>

                        <input class="color-checkbox__input" type="radio" id="col-B07" value="/Images/product/B07.png" name="colour" />
                        <label class="color-checkbox B07" for="col-B07" id="col-B07-label" style="background: url('/Images/thumbs/B07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B07-label">B07</span>

                        <input class="color-checkbox__input" type="radio" id="col-B08" value="/Images/product/B08.png" name="colour" />
                        <label class="color-checkbox B08" for="col-B08" id="col-B08-label" style="background: url('/Images/thumbs/B08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-B08-label">B08</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>