<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Case.title">Watch Case</span></h2>
    <div class="layui-colla-content">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Case.title.01">Stainless Steel PVD</span></h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchCase">
                        <input class="color-checkbox__input" type="radio" id="col-A15" value="/Images/product/A15.png" name="colour" />
                        <label class="color-checkbox A15" for="col-A15" id="col-A15-label" style="background: url('/Images/thumbs/A15.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A15-label">A15</span>

                        <input class="color-checkbox__input" type="radio" id="col-A16" value="/Images/product/A16.png" name="colour" />
                        <label class="color-checkbox A16" for="col-A16" id="col-A16-label" style="background: url('/Images/thumbs/A16.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A16-label">A16</span>

                        <input class="color-checkbox__input" type="radio" id="col-A17" value="/Images/product/A17.png" name="colour" />
                        <label class="color-checkbox A17" for="col-A17" id="col-A17-label" style="background: url('/Images/thumbs/A17.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A17-label">A17</span>

                        <input class="color-checkbox__input" type="radio" id="col-A18" value="/Images/product/A18.png" name="colour" />
                        <label class="color-checkbox A18" for="col-A18" id="col-A18-label" style="background: url('/Images/thumbs/A18.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-A18-label">A18</span>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>