<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Strap.title">Watch Strap</span></h2>
    <div class="layui-colla-content">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title" i18n="i18n.Strap.title.01">Stainless Steels Band</h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchBand">
                        <input class="color-checkbox__input" type="radio" id="col-D01" value="/Images/product/D01.png" name="colour" />
                        <label class="color-checkbox D01" for="col-D01" id="col-D01-label" style="background: url('/Images/thumbs/D01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D01-label">D01</span>

                        <input class="color-checkbox__input" type="radio" id="col-D02" value="/Images/product/D02.png" name="colour" />
                        <label class="color-checkbox D02" for="col-D02" id="col-D02-label" style="background: url('/Images/thumbs/D02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D02-label">D02</span>

                        <input class="color-checkbox__input" type="radio" id="col-D03" value="/Images/product/D03.png" name="colour" />
                        <label class="color-checkbox D03" for="col-D03" id="col-D03-label" style="background: url('/Images/thumbs/D03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D03-label">D03</span>
                    </div>

                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title" i18n="i18n.Strap.title.02">Genuine Leather</h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchBand">
                        <input class="color-checkbox__input" type="radio" id="col-D04" value="/Images/product/D04.png" name="colour" />
                        <label class="color-checkbox D04" for="col-D04" id="col-D04-label" style="background: url('/Images/thumbs/D04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D04-label">D04</span>

                        <input class="color-checkbox__input" type="radio" id="col-D05" value="/Images/product/D05.png" name="colour" />
                        <label class="color-checkbox D05" for="col-D05" id="col-D05-label" style="background: url('/Images/thumbs/D05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D05-label">D05</span>

                        <input class="color-checkbox__input" type="radio" id="col-D06" value="/Images/product/D06.png" name="colour" />
                        <label class="color-checkbox D06" for="col-D06" id="col-D06-label" style="background: url('/Images/thumbs/D06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D06-label">D06</span>

                        <input class="color-checkbox__input" type="radio" id="col-D07" value="/Images/product/D07.png" name="colour" />
                        <label class="color-checkbox D07" for="col-D07" id="col-D07-label" style="background: url('/Images/thumbs/D07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D07-label">D07</span>

                        <input class="color-checkbox__input" type="radio" id="col-D08" value="/Images/product/D08.png" name="colour" />
                        <label class="color-checkbox D08" for="col-D08" id="col-D08-label" style="background: url('/Images/thumbs/D08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D08-label">D08</span>

                        <input class="color-checkbox__input" type="radio" id="col-D09" value="/Images/product/D09.png" name="colour" />
                        <label class="color-checkbox D09" for="col-D09" id="col-D09-label" style="background: url('/Images/thumbs/D09.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D09-label">D09</span>
                    </div>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title" i18n="i18n.Strap.title.03">Silicon</h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchBand">
                        <input class="color-checkbox__input" type="radio" id="col-D10" value="/Images/product/D10.png" name="colour" />
                        <label class="color-checkbox D10" for="col-D10" id="col-D10-label" style="background: url('/Images/thumbs/D10.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D10-label">D10</span>

                        <input class="color-checkbox__input" type="radio" id="col-D11" value="/Images/product/D11.png" name="colour" />
                        <label class="color-checkbox D11" for="col-D11" id="col-D11-label" style="background: url('/Images/thumbs/D11.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D11-label">D11</span>

                        <input class="color-checkbox__input" type="radio" id="col-D12" value="/Images/product/D12.png" name="colour" />
                        <label class="color-checkbox D12" for="col-D12" id="col-D12-label" style="background: url('/Images/thumbs/D12.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D12-label">D12</span>

                        <input class="color-checkbox__input" type="radio" id="col-D13" value="/Images/product/D13.png" name="colour" />
                        <label class="color-checkbox D13" for="col-D13" id="col-D13-label" style="background: url('/Images/thumbs/D13.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D13-label">D13</span>

                        <input class="color-checkbox__input" type="radio" id="col-D14" value="/Images/product/D14.png" name="colour" />
                        <label class="color-checkbox D14" for="col-D14" id="col-D14-label" style="background: url('/Images/thumbs/D14.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D14-label">D14</span>

                        <input class="color-checkbox__input" type="radio" id="col-D15" value="/Images/product/D15.png" name="colour" />
                        <label class="color-checkbox D15" for="col-D15" id="col-D15-label" style="background: url('/Images/thumbs/D15.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D15-label">D15</span>

                        <input class="color-checkbox__input" type="radio" id="col-D16" value="/Images/product/D16.png" name="colour" />
                        <label class="color-checkbox D16" for="col-D16" id="col-D16-label" style="background: url('/Images/thumbs/D16.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D16-label">D16</span>

                        <input class="color-checkbox__input" type="radio" id="col-D17" value="/Images/product/D17.png" name="colour" />
                        <label class="color-checkbox D17" for="col-D17" id="col-D17-label" style="background: url('/Images/thumbs/D17.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-D17-label">D17</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>