<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Dial.title">Watch Dial W/ Movement</span></h2>
    <div class="layui-colla-content layui-show">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Dial.title.01">Skeleton - Seagull Automatic Movement</span></h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchCore">
                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-01" value="/Images/product/IN-MOV-01.png" name="colour" />
                        <label class="color-checkbox IN-MOV-01" for="col-IN-MOV-01" id="col-IN-MOV-01-label" style="background: url('/Images/thumbs/IN-MOV-01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-01-label">IN-MOV-01</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-02" value="/Images/product/IN-MOV-02.png" name="colour" />
                        <label class="color-checkbox IN-MOV-02" for="col-IN-MOV-02" id="col-IN-MOV-02-label" style="background: url('/Images/thumbs/IN-MOV-02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-02-label">IN-MOV-02</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-03" value="/Images/product/IN-MOV-03.png" name="colour" />
                        <label class="color-checkbox IN-MOV-03" for="col-IN-MOV-03" id="col-IN-MOV-03-label" style="background: url('/Images/thumbs/IN-MOV-03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-03-label">IN-MOV-03</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-04" value="/Images/product/IN-MOV-04.png" name="colour" />
                        <label class="color-checkbox IN-MOV-04" for="col-IN-MOV-04" id="col-IN-MOV-04-label" style="background: url('/Images/thumbs/IN-MOV-04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-04-label">IN-MOV-04</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-05" value="/Images/product/IN-MOV-05.png" name="colour" />
                        <label class="color-checkbox IN-MOV-05" for="col-IN-MOV-05" id="col-IN-MOV-05-label" style="background: url('/Images/thumbs/IN-MOV-05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-05-label">IN-MOV-05</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-06" value="/Images/product/IN-MOV-06.png" name="colour" />
                        <label class="color-checkbox IN-MOV-06" for="col-IN-MOV-06" id="col-IN-MOV-06-label" style="background: url('/Images/thumbs/IN-MOV-06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-06-label">IN-MOV-06</span>

                    </div>


                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Dial.title.02">GMT 24HRS - Seagull Automatic Movement</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchCore">

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-07" value="/Images/product/IN-MOV-07.png" name="colour" />
                        <label class="color-checkbox IN-MOV-07" for="col-IN-MOV-07" id="col-IN-MOV-07-label" style="background: url('/Images/thumbs/IN-MOV-07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-07-label">IN-MOV-07</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-08" value="/Images/product/IN-MOV-08.png" name="colour" />
                        <label class="color-checkbox IN-MOV-08" for="col-IN-MOV-08" id="col-IN-MOV-08-label" style="background: url('/Images/thumbs/IN-MOV-08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-08-label">IN-MOV-08</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-09" value="/Images/product/IN-MOV-09.png" name="colour" />
                        <label class="color-checkbox IN-MOV-09" for="col-IN-MOV-09" id="col-IN-MOV-09-label" style="background: url('/Images/thumbs/IN-MOV-09.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-09-label">IN-MOV-09</span>

                    </div>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Dial.title.03">Analog w/date - Seiko NH35 Automatic Movement</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchCore">

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-10" value="/Images/product/IN-MOV-10.png" name="colour" />
                        <label class="color-checkbox IN-MOV-10" for="col-IN-MOV-10" id="col-IN-MOV-10-label" style="background: url('/Images/thumbs/IN-MOV-10.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-10-label">IN-MOV-10</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-11" value="/Images/product/IN-MOV-11.png" name="colour" />
                        <label class="color-checkbox IN-MOV-11" for="col-IN-MOV-11" id="col-IN-MOV-11-label" style="background: url('/Images/thumbs/IN-MOV-11.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-11-label">IN-MOV-11</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-12" value="/Images/product/IN-MOV-12.png" name="colour" />
                        <label class="color-checkbox IN-MOV-12" for="col-IN-MOV-12" id="col-IN-MOV-12-label" style="background: url('/Images/thumbs/IN-MOV-12.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-12-label">IN-MOV-12</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-MOV-13" value="/Images/product/IN-MOV-13.png" name="colour" />
                        <label class="color-checkbox IN-MOV-13" for="col-IN-MOV-13" id="col-IN-MOV-13-label" style="background: url('/Images/thumbs/IN-MOV-13.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-MOV-13-label">IN-MOV-13</span>

                    </div>
                </div>
            </div>
            @if (ViewBag.dsShow)
            {
                @await Html.PartialAsync("_WatchDial_01");
            }
        </div>
    </div>
</div>