<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Dial.title">Watch Dial W/ Movement</span></h2>
    <div class="layui-colla-content layui-show">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Dial.title.01">Skeleton - Seagull Automatic Movement</span></h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchCore">
                        <input class="color-checkbox__input" type="radio" id="col-CA" value="/Images/product/CA.png" name="colour" />
                        <label class="color-checkbox CA" for="col-CA" id="col-CA-label" style="background: url('/Images/thumbs/CA.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CA-label">CA</span>

                        <input class="color-checkbox__input" type="radio" id="col-CB" value="/Images/product/CB.png" name="colour" />
                        <label class="color-checkbox CB" for="col-CB" id="col-CB-label" style="background: url('/Images/thumbs/CB.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CB-label">CB</span>

                        <input class="color-checkbox__input" type="radio" id="col-CC" value="/Images/product/CC.png" name="colour" />
                        <label class="color-checkbox CC" for="col-CC" id="col-CC-label" style="background: url('/Images/thumbs/CC.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CC-label">CC</span>

                        <input class="color-checkbox__input" type="radio" id="col-CD" value="/Images/product/CD.png" name="colour" />
                        <label class="color-checkbox CD" for="col-CD" id="col-CD-label" style="background: url('/Images/thumbs/CD.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CD-label">CD</span>

                        <input class="color-checkbox__input" type="radio" id="col-CE" value="/Images/product/CE.png" name="colour" />
                        <label class="color-checkbox CE" for="col-CE" id="col-CE-label" style="background: url('/Images/thumbs/CE.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CE-label">CE</span>

                        <input class="color-checkbox__input" type="radio" id="col-CF" value="/Images/product/CF.png" name="colour" />
                        <label class="color-checkbox CF" for="col-CF" id="col-CF-label" style="background: url('/Images/thumbs/CF.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CF-label">CF</span>

                    </div>


                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Dial.title.02">GMT 24HRS - Seagull Automatic Movement</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchCore">

                        <input class="color-checkbox__input" type="radio" id="col-CG" value="/Images/product/CG.png" name="colour" />
                        <label class="color-checkbox CG" for="col-CG" id="col-CG-label" style="background: url('/Images/thumbs/CG.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CG-label">CG</span>

                        <input class="color-checkbox__input" type="radio" id="col-CH" value="/Images/product/CH.png" name="colour" />
                        <label class="color-checkbox CH" for="col-CH" id="col-CH-label" style="background: url('/Images/thumbs/CH.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CH-label">CH</span>

                        <input class="color-checkbox__input" type="radio" id="col-CI" value="/Images/product/CI.png" name="colour" />
                        <label class="color-checkbox CI" for="col-CI" id="col-CI-label" style="background: url('/Images/thumbs/CI.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CI-label">CI</span>

                    </div>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Dial.title.03">Analog w/date - Seiko NH35 Automatic Movement</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchCore">

                        <input class="color-checkbox__input" type="radio" id="col-CJ" value="/Images/product/CJ.png" name="colour" />
                        <label class="color-checkbox CJ" for="col-CJ" id="col-CJ-label" style="background: url('/Images/thumbs/CJ.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CJ-label">CJ</span>

                        <input class="color-checkbox__input" type="radio" id="col-CK" value="/Images/product/CK.png" name="colour" />
                        <label class="color-checkbox CK" for="col-CK" id="col-CK-label" style="background: url('/Images/thumbs/CK.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CK-label">CK</span>

                        <input class="color-checkbox__input" type="radio" id="col-CL" value="/Images/product/CL.png" name="colour" />
                        <label class="color-checkbox CL" for="col-CL" id="col-CL-label" style="background: url('/Images/thumbs/CL.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CL-label">CL</span>

                        <input class="color-checkbox__input" type="radio" id="col-CM" value="/Images/product/CM.png" name="colour" />
                        <label class="color-checkbox CM" for="col-CM" id="col-CM-label" style="background: url('/Images/thumbs/CM.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-CM-label">CM</span>

                    </div>
                </div>
            </div>
            @if (ViewBag.dsShow)
            {
                @Html.Partial("_WatchDial_01");
            }
        </div>
    </div>
</div>