<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span i18n="i18n.Dial.title.04">Skeleton - STP Swiss Made Automatic Movement</span></h2>
    <div class="layui-colla-content">
        <div class="color-checkboxes watchCore">

            <input class="color-checkbox__input" type="radio" id="col-IN-MOV-14" value="/Images/product/IN-MOV-14.png" name="colour" />
            <label class="color-checkbox IN-MOV-14" for="col-IN-MOV-14" id="col-IN-MOV-14-label" style="background: url('/Images/thumbs/IN-MOV-14.jpg') no-repeat top left scroll;background-size: contain;"></label>
            <span class="mdl-tooltip" for="col-IN-MOV-14-label">IN-MOV-14</span>

            <input class="color-checkbox__input" type="radio" id="col-IN-MOV-15" value="/Images/product/IN-MOV-15.png" name="colour" />
            <label class="color-checkbox IN-MOV-15" for="col-IN-MOV-15" id="col-IN-MOV-15-label" style="background: url('/Images/thumbs/IN-MOV-15.jpg') no-repeat top left scroll;background-size: contain;"></label>
            <span class="mdl-tooltip" for="col-IN-MOV-15-label">IN-MOV-15</span>

            <input class="color-checkbox__input" type="radio" id="col-IN-MOV-16" value="/Images/product/IN-MOV-16.png" name="colour" />
            <label class="color-checkbox IN-MOV-16" for="col-IN-MOV-16" id="col-IN-MOV-16-label" style="background: url('/Images/thumbs/IN-MOV-16.jpg') no-repeat top left scroll;background-size: contain;"></label>
            <span class="mdl-tooltip" for="col-IN-MOV-16-label">IN-MOV-16</span>

        </div>
    </div>
</div>

<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span i18n="i18n.Dial.title.05">Analog - Miyota 9015 Automatic Movement AMWG Edition</span></h2>
    <div class="layui-colla-content">
        <div class="color-checkboxes watchCore">

            <input class="color-checkbox__input" type="radio" id="col-IN-MOV-17" value="/Images/product/IN-MOV-17.png" name="colour" />
            <label class="color-checkbox IN-MOV-17" for="col-IN-MOV-17" id="col-IN-MOV-17-label" style="background: url('/Images/thumbs/IN-MOV-17.jpg') no-repeat top left scroll;background-size: contain;"></label>
            <span class="mdl-tooltip" for="col-IN-MOV-17-label">IN-MOV-17</span>

        </div>
    </div>
</div>