<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Case.title">Watch Case</span></h2>
    <div class="layui-colla-content">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Case.title.01">Stainless Steel PVD</span></h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchCase">
                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-01" value="/Images/product/IN-CAS-01.png" name="colour" />
                        <label class="color-checkbox IN-CAS-01" for="col-IN-CAS-01" id="col-IN-CAS-01-label" style="background: url('/Images/thumbs/IN-CAS-01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-01-label">IN-CAS-01</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-02" value="/Images/product/IN-CAS-02.png" name="colour" />
                        <label class="color-checkbox IN-CAS-02" for="col-IN-CAS-02" id="col-IN-CAS-02-label" style="background: url('/Images/thumbs/IN-CAS-02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-02-label">IN-CAS-02</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-03" value="/Images/product/IN-CAS-03.png" name="colour" />
                        <label class="color-checkbox IN-CAS-03" for="col-IN-CAS-03" id="col-IN-CAS-03-label" style="background: url('/Images/thumbs/IN-CAS-03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-03-label">IN-CAS-03</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-14" value="/Images/product/IN-CAS-14.png" name="colour" />
                        <label class="color-checkbox IN-CAS-14" for="col-IN-CAS-14" id="col-IN-CAS-14-label" style="background: url('/Images/thumbs/IN-CAS-14.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-14-label">IN-CAS-14</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-19" value="/Images/product/IN-CAS-19.png" name="colour" />
                        <label class="color-checkbox IN-CAS-19" for="col-IN-CAS-19" id="col-IN-CAS-19-label" style="background: url('/Images/thumbs/IN-CAS-19.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-19-label">IN-CAS-19</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-20" value="/Images/product/IN-CAS-20.png" name="colour" />
                        <label class="color-checkbox IN-CAS-20" for="col-IN-CAS-20" id="col-IN-CAS-20-label" style="background: url('/Images/thumbs/IN-CAS-20.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-20-label">IN-CAS-20</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-21" value="/Images/product/IN-CAS-21.png" name="colour" />
                        <label class="color-checkbox IN-CAS-21" for="col-IN-CAS-21" id="col-IN-CAS-21-label" style="background: url('/Images/thumbs/IN-CAS-21.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-21-label">IN-CAS-21</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-22" value="/Images/product/IN-CAS-22.png" name="colour" />
                        <label class="color-checkbox IN-CAS-22" for="col-IN-CAS-22" id="col-IN-CAS-22-label" style="background: url('/Images/thumbs/IN-CAS-22.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-22-label">IN-CAS-22</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-23" value="/Images/product/IN-CAS-23.png" name="colour" />
                        <label class="color-checkbox IN-CAS-23" for="col-IN-CAS-23" id="col-IN-CAS-23-label" style="background: url('/Images/thumbs/IN-CAS-23.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-23-label">IN-CAS-23</span>

                    </div>

                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Case.title.02">Stainless Steel Cerakote</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchCase">
                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-09" value="/Images/product/IN-CAS-09.png" name="colour" />
                        <label class="color-checkbox IN-CAS-09" for="col-IN-CAS-09" id="col-IN-CAS-09-label" style="background: url('/Images/thumbs/IN-CAS-09.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-09-label">IN-CAS-09</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-10" value="/Images/product/IN-CAS-10.png" name="colour" />
                        <label class="color-checkbox IN-CAS-10" for="col-IN-CAS-10" id="col-IN-CAS-10-label" style="background: url('/Images/thumbs/IN-CAS-10.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-10-label">IN-CAS-10</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-11" value="/Images/product/IN-CAS-11.png" name="colour" />
                        <label class="color-checkbox IN-CAS-11" for="col-IN-CAS-11" id="col-IN-CAS-11-label" style="background: url('/Images/thumbs/IN-CAS-11.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-11-label">IN-CAS-11</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-12" value="/Images/product/IN-CAS-12.png" name="colour" />
                        <label class="color-checkbox IN-CAS-12" for="col-IN-CAS-12" id="col-IN-CAS-12-label" style="background: url('/Images/thumbs/IN-CAS-12.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-12-label">IN-CAS-12</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-13" value="/Images/product/IN-CAS-13.png" name="colour" />
                        <label class="color-checkbox IN-CAS-13" for="col-IN-CAS-13" id="col-IN-CAS-13-label" style="background: url('/Images/thumbs/IN-CAS-13.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-13-label">IN-CAS-13</span>
                    </div>
                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Case.title.03">Plastic</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchCase">

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-04" value="/Images/product/IN-CAS-04.png" name="colour" />
                        <label class="color-checkbox IN-CAS-04" for="col-IN-CAS-04" id="col-IN-CAS-04-label" style="background: url('/Images/thumbs/IN-CAS-04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-04-label">IN-CAS-04</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-05" value="/Images/product/IN-CAS-05.png" name="colour" />
                        <label class="color-checkbox IN-CAS-05" for="col-IN-CAS-05" id="col-IN-CAS-05-label" style="background: url('/Images/thumbs/IN-CAS-05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-05-label">IN-CAS-05</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-06" value="/Images/product/IN-CAS-06.png" name="colour" />
                        <label class="color-checkbox IN-CAS-06" for="col-IN-CAS-06" id="col-IN-CAS-06-label" style="background: url('/Images/thumbs/IN-CAS-06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-06-label">IN-CAS-06</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-07" value="/Images/product/IN-CAS-07.png" name="colour" />
                        <label class="color-checkbox IN-CAS-07" for="col-IN-CAS-07" id="col-IN-CAS-07-label" style="background: url('/Images/thumbs/IN-CAS-07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-07-label">IN-CAS-07</span>

                        <input class="color-checkbox__input" type="radio" id="col-IN-CAS-08" value="/Images/product/IN-CAS-08.png" name="colour" />
                        <label class="color-checkbox IN-CAS-08" for="col-IN-CAS-08" id="col-IN-CAS-08-label" style="background: url('/Images/thumbs/IN-CAS-08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-IN-CAS-08-label">IN-CAS-08</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>