<div class="layui-colla-item">
    <h2 class="layui-colla-title"><span class="option-title " i18n="i18n.Ring.title">Watch Ring</span></h2>
    <div class="layui-colla-content">

        <div class="layui-collapse" lay-accordion="">
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Ring.title.01">Stainless Steel PVD</span></h2>
                <div class="layui-colla-content layui-show">
                    <div class="color-checkboxes watchBezel">
                        <input class="color-checkbox__input" type="radio" id="col-C01" value="/Images/product/C01.png" name="colour" />
                        <label class="color-checkbox C01" for="col-C01" id="col-C01-label" style="background: url('/Images/thumbs/C01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C01-label">C01</span>

                        <input class="color-checkbox__input" type="radio" id="col-C02" value="/Images/product/C02.png" name="colour" />
                        <label class="color-checkbox C02" for="col-C02" id="col-C02-label" style="background: url('/Images/thumbs/C02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C02-label">C02</span>

                        <input class="color-checkbox__input" type="radio" id="col-C03" value="/Images/product/C03.png" name="colour" />
                        <label class="color-checkbox C03" for="col-C03" id="col-C03-label" style="background: url('/Images/thumbs/C03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C03-label">C03</span>

                        <input class="color-checkbox__input" type="radio" id="col-C04" value="/Images/product/C04.png" name="colour" />
                        <label class="color-checkbox C04" for="col-C04" id="col-C04-label" style="background: url('/Images/thumbs/C04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C04-label">C04</span>

                        <input class="color-checkbox__input" type="radio" id="col-C05" value="/Images/product/C05.png" name="colour" />
                        <label class="color-checkbox C05" for="col-C05" id="col-C05-label" style="background: url('/Images/thumbs/C05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C05-label">C05</span>

                        <input class="color-checkbox__input" type="radio" id="col-C06" value="/Images/product/C06.png" name="colour" />
                        <label class="color-checkbox C06" for="col-C06" id="col-C06-label" style="background: url('/Images/thumbs/C06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C06-label">C06</span>

                        <input class="color-checkbox__input" type="radio" id="col-C12" value="/Images/product/C12.png" name="colour" />
                        <label class="color-checkbox C12" for="col-C12" id="col-C12-label" style="background: url('/Images/thumbs/C12.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C12-label">C12</span>
                    </div>

                </div>
            </div>
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"><span i18n="i18n.Ring.title.02">Stainless Steel Cerakote</span></h2>
                <div class="layui-colla-content">
                    <div class="color-checkboxes watchBezel">
                        <input class="color-checkbox__input" type="radio" id="col-C07" value="/Images/product/C07.png" name="colour" />
                        <label class="color-checkbox C07" for="col-C07" id="col-C07-label" style="background: url('/Images/thumbs/C07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C07-label">C07</span>

                        <input class="color-checkbox__input" type="radio" id="col-C08" value="/Images/product/C08.png" name="colour" />
                        <label class="color-checkbox C08" for="col-C08" id="col-C08-label" style="background: url('/Images/thumbs/C08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C08-label">C08</span>

                        <input class="color-checkbox__input" type="radio" id="col-C09" value="/Images/product/C09.png" name="colour" />
                        <label class="color-checkbox C09" for="col-C09" id="col-C09-label" style="background: url('/Images/thumbs/C09.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C09-label">C09</span>

                        <input class="color-checkbox__input" type="radio" id="col-C10" value="/Images/product/C10.png" name="colour" />
                        <label class="color-checkbox C10" for="col-C10" id="col-C10-label" style="background: url('/Images/thumbs/C10.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C10-label">C10</span>

                        <input class="color-checkbox__input" type="radio" id="col-C11" value="/Images/product/C11.png" name="colour" />
                        <label class="color-checkbox C11" for="col-C11" id="col-C11-label" style="background: url('/Images/thumbs/C11.jpg') no-repeat top left scroll;background-size: contain;"></label>
                        <span class="mdl-tooltip" for="col-C11-label">C11</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>