@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Infantry - Custom Your watch</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet prefetch' href='~/Content/ks/material.blue-orange.min.css'>
    <link type="text/css" rel="stylesheet" href="~/Content/ks/style.css">
    <link type="text/css" rel="stylesheet" href="~/Dist/layui/css/layui.css">
    <link type="text/css" rel="stylesheet" href="~/Dist/layui/css/layui.mobile.css">
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__drawer-button"></div>
            <div class="mdl-layout__header-row">
                <div class="mdl-layout-title">Infantry - Custom Your watch</div>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="page-content mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--middle">
                    <div class="watch">
                        <svg class="watch-image" id="watch-image" xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <g class="svg-content">
                                <image id="watch-band" height="400" width="233" xlink:href="/Images/product/D01.png" />
                                <image id="watch-core" height="400" width="233" xlink:href="/Images/product/CA.png" />
                                <image id="watch-case" height="400" width="233" xlink:href="/Images/product/A01.png" />
                                <image id="watch-face" height="400" width="233" xlink:href="/Images/product/B01.png" />
                                <image id="watch-bezel" height="400" width="233" xlink:href="/Images/product/C01.png" />
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--5-col-tablet mdl-cell--middle">
                    <div class="settings mdl-card mdl-shadow--2dp">
                        <div class="options">
                            <div class="layui-collapse" lay-accordion="">
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title"><span class="option-title ">watchCore</span></div>
                                    <div class="layui-colla-content layui-show">
                                        <div class="color-checkboxes watchCore">
                                            <input class="color-checkbox__input" type="radio" id="col-CA" value="/Images/product/CA.png" name="colour" />
                                            <label class="color-checkbox CA" for="col-CA" id="col-CA-label" style="background: url('/Images/thumbs/CA.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CA-label">CA</span>

                                            <input class="color-checkbox__input" type="radio" id="col-CB" value="/Images/product/CB.png" name="colour" />
                                            <label class="color-checkbox CB" for="col-CB" id="col-CB-label" style="background: url('/Images/thumbs/CB.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CB-label">CB</span>

                                            <input class="color-checkbox__input" type="radio" id="col-CC" value="/Images/product/CC.png" name="colour" />
                                            <label class="color-checkbox CC" for="col-CC" id="col-CC-label" style="background: url('/Images/thumbs/CC.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CC-label">CC</span>

                                            <input class="color-checkbox__input" type="radio" id="col-CD" value="/Images/product/CD.png" name="colour" />
                                            <label class="color-checkbox CD" for="col-CD" id="col-CD-label" style="background: url('/Images/thumbs/CD.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CD-label">CD</span>

                                            <input class="color-checkbox__input" type="radio" id="col-CE" value="/Images/product/CE.png" name="colour" />
                                            <label class="color-checkbox CE" for="col-CE" id="col-CE-label" style="background: url('/Images/thumbs/CE.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CE-label">CE</span>

                                            <input class="color-checkbox__input" type="radio" id="col-CF" value="/Images/product/CF.png" name="colour" />
                                            <label class="color-checkbox CF" for="col-CF" id="col-CF-label" style="background: url('/Images/thumbs/CF.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CF-label">CF</span>

                                            <input class="color-checkbox__input" type="radio" id="col-CG" value="/Images/product/CG.png" name="colour" />
                                            <label class="color-checkbox CG" for="col-CG" id="col-CG-label" style="background: url('/Images/thumbs/CG.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CG-label">CG</span>

                                            <input class="color-checkbox__input" type="radio" id="col-CH" value="/Images/product/CH.png" name="colour" />
                                            <label class="color-checkbox CH" for="col-CH" id="col-CH-label" style="background: url('/Images/thumbs/CH.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CH-label">CH</span>

                                            <input class="color-checkbox__input" type="radio" id="col-CI" value="/Images/product/CI.png" name="colour" />
                                            <label class="color-checkbox CI" for="col-CI" id="col-CI-label" style="background: url('/Images/thumbs/CI.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-CI-label">CI</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title"><span class="option-title">watchBand</span></div>
                                    <div class="layui-colla-content">
                                        <div class="color-checkboxes watchBand">
                                            <input class="color-checkbox__input" type="radio" id="col-D01" value="/Images/product/D01.png" name="colour" />
                                            <label class="color-checkbox D01" for="col-D01" id="col-D01-label" style="background: url('/Images/thumbs/D01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D01-label">D01</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D02" value="/Images/product/D02.png" name="colour" />
                                            <label class="color-checkbox D02" for="col-D02" id="col-D02-label" style="background: url('/Images/thumbs/D02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D02-label">D02</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D03" value="/Images/product/D03.png" name="colour" />
                                            <label class="color-checkbox D03" for="col-D03" id="col-D03-label" style="background: url('/Images/thumbs/D03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D03-label">D03</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D04" value="/Images/product/D04.png" name="colour" />
                                            <label class="color-checkbox D04" for="col-D04" id="col-D04-label" style="background: url('/Images/thumbs/D04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D04-label">D04</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D05" value="/Images/product/D05.png" name="colour" />
                                            <label class="color-checkbox D05" for="col-D05" id="col-D05-label" style="background: url('/Images/thumbs/D05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D05-label">D05</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D06" value="/Images/product/D06.png" name="colour" />
                                            <label class="color-checkbox D06" for="col-D06" id="col-D06-label" style="background: url('/Images/thumbs/D06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D06-label">D06</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D07" value="/Images/product/D07.png" name="colour" />
                                            <label class="color-checkbox D07" for="col-D07" id="col-D07-label" style="background: url('/Images/thumbs/D07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D07-label">D07</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D08" value="/Images/product/D08.png" name="colour" />
                                            <label class="color-checkbox D08" for="col-D08" id="col-D08-label" style="background: url('/Images/thumbs/D08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D08-label">D08</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D09" value="/Images/product/D09.png" name="colour" />
                                            <label class="color-checkbox D09" for="col-D09" id="col-D09-label" style="background: url('/Images/thumbs/D09.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D09-label">D09</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D10" value="/Images/product/D10.png" name="colour" />
                                            <label class="color-checkbox D10" for="col-D10" id="col-D10-label" style="background: url('/Images/thumbs/D10.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D10-label">D10</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D11" value="/Images/product/D11.png" name="colour" />
                                            <label class="color-checkbox D11" for="col-D11" id="col-D11-label" style="background: url('/Images/thumbs/D11.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D11-label">D11</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D12" value="/Images/product/D12.png" name="colour" />
                                            <label class="color-checkbox D12" for="col-D12" id="col-D12-label" style="background: url('/Images/thumbs/D12.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D12-label">D12</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D13" value="/Images/product/D13.png" name="colour" />
                                            <label class="color-checkbox D13" for="col-D13" id="col-D13-label" style="background: url('/Images/thumbs/D13.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D13-label">D13</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D14" value="/Images/product/D14.png" name="colour" />
                                            <label class="color-checkbox D14" for="col-D14" id="col-D14-label" style="background: url('/Images/thumbs/D14.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D14-label">D14</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D15" value="/Images/product/D15.png" name="colour" />
                                            <label class="color-checkbox D15" for="col-D15" id="col-D15-label" style="background: url('/Images/thumbs/D15.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D15-label">D15</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D16" value="/Images/product/D16.png" name="colour" />
                                            <label class="color-checkbox D16" for="col-D16" id="col-D16-label" style="background: url('/Images/thumbs/D16.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D16-label">D16</span>

                                            <input class="color-checkbox__input" type="radio" id="col-D17" value="/Images/product/D17.png" name="colour" />
                                            <label class="color-checkbox D17" for="col-D17" id="col-D17-label" style="background: url('/Images/thumbs/D17.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-D17-label">D17</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title"><span class="option-title">watchCase</span></div>
                                    <div class="layui-colla-content">
                                        <div class="color-checkboxes watchCase">
                                            <input class="color-checkbox__input" type="radio" id="col-A01" value="/Images/product/A01.png" name="colour" />
                                            <label class="color-checkbox A01" for="col-A01" id="col-A01-label" style="background: url('/Images/thumbs/A01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-A01-label">A01</span>

                                            <input class="color-checkbox__input" type="radio" id="col-A02" value="/Images/product/A02.png" name="colour" />
                                            <label class="color-checkbox A02" for="col-A02" id="col-A02-label" style="background: url('/Images/thumbs/A02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-A02-label">A02</span>

                                            <input class="color-checkbox__input" type="radio" id="col-A03" value="/Images/product/A03.png" name="colour" />
                                            <label class="color-checkbox A03" for="col-A03" id="col-A03-label" style="background: url('/Images/thumbs/A03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-A03-label">A03</span>

                                            <input class="color-checkbox__input" type="radio" id="col-A04" value="/Images/product/A04.png" name="colour" />
                                            <label class="color-checkbox A04" for="col-A04" id="col-A04-label" style="background: url('/Images/thumbs/A04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-A04-label">A04</span>

                                            <input class="color-checkbox__input" type="radio" id="col-A05" value="/Images/product/A05.png" name="colour" />
                                            <label class="color-checkbox A05" for="col-A05" id="col-A05-label" style="background: url('/Images/thumbs/A05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-A05-label">A05</span>

                                            <input class="color-checkbox__input" type="radio" id="col-A06" value="/Images/product/A06.png" name="colour" />
                                            <label class="color-checkbox A06" for="col-A06" id="col-A06-label" style="background: url('/Images/thumbs/A06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-A06-label">A06</span>

                                            <input class="color-checkbox__input" type="radio" id="col-A07" value="/Images/product/A07.png" name="colour" />
                                            <label class="color-checkbox A07" for="col-A07" id="col-A07-label" style="background: url('/Images/thumbs/A07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-A07-label">A07</span>

                                            <input class="color-checkbox__input" type="radio" id="col-A08" value="/Images/product/A08.png" name="colour" />
                                            <label class="color-checkbox A08" for="col-A08" id="col-A08-label" style="background: url('/Images/thumbs/A08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-A08-label">A08</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title"><span class="option-title">watchFace</span></div>
                                    <div class="layui-colla-content">
                                        <div class="color-checkboxes watchFace">
                                            <input class="color-checkbox__input" type="radio" id="col-B01" value="/Images/product/B01.png" name="colour" />
                                            <label class="color-checkbox B01" for="col-B01" id="col-B01-label" style="background: url('/Images/thumbs/B01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-B01-label">B01</span>

                                            <input class="color-checkbox__input" type="radio" id="col-B02" value="/Images/product/B02.png" name="colour" />
                                            <label class="color-checkbox B02" for="col-B02" id="col-B02-label" style="background: url('/Images/thumbs/B02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-B02-label">B02</span>

                                            <input class="color-checkbox__input" type="radio" id="col-B03" value="/Images/product/B03.png" name="colour" />
                                            <label class="color-checkbox B03" for="col-B03" id="col-B03-label" style="background: url('/Images/thumbs/B03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-B03-label">B03</span>

                                            <input class="color-checkbox__input" type="radio" id="col-B04" value="/Images/product/B04.png" name="colour" />
                                            <label class="color-checkbox B04" for="col-B04" id="col-B04-label" style="background: url('/Images/thumbs/B04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-B04-label">B04</span>

                                            <input class="color-checkbox__input" type="radio" id="col-B05" value="/Images/product/B05.png" name="colour" />
                                            <label class="color-checkbox B05" for="col-B05" id="col-B05-label" style="background: url('/Images/thumbs/B05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-B05-label">B05</span>

                                            <input class="color-checkbox__input" type="radio" id="col-B06" value="/Images/product/B06.png" name="colour" />
                                            <label class="color-checkbox B06" for="col-B06" id="col-B06-label" style="background: url('/Images/thumbs/B06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-B06-label">B06</span>

                                            <input class="color-checkbox__input" type="radio" id="col-B07" value="/Images/product/B07.png" name="colour" />
                                            <label class="color-checkbox B07" for="col-B07" id="col-B07-label" style="background: url('/Images/thumbs/B07.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-B07-label">B07</span>

                                            <input class="color-checkbox__input" type="radio" id="col-B08" value="/Images/product/B08.png" name="colour" />
                                            <label class="color-checkbox B08" for="col-B08" id="col-B08-label" style="background: url('/Images/thumbs/B08.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-B08-label">B08</span>


                                        </div>
                                    </div>
                                </div>
                                <div class="layui-colla-item">
                                    <div class="layui-colla-title"><span class="option-title">watchBezel</span></div>
                                    <div class="layui-colla-content">
                                        <div class="color-checkboxes watchBezel">
                                            <input class="color-checkbox__input" type="radio" id="col-C01" value="/Images/product/C01.png" name="colour" />
                                            <label class="color-checkbox C01" for="col-C01" id="col-C01-label" style="background: url('/Images/thumbs/C01.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-C01-label">C01</span>

                                            <input class="color-checkbox__input" type="radio" id="col-C02" value="/Images/product/C02.png" name="colour" />
                                            <label class="color-checkbox C02" for="col-C02" id="col-C02-label" style="background: url('/Images/thumbs/C02.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-C02-label">C02</span>

                                            <input class="color-checkbox__input" type="radio" id="col-C03" value="/Images/product/C03.png" name="colour" />
                                            <label class="color-checkbox C03" for="col-C03" id="col-C03-label" style="background: url('/Images/thumbs/C03.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-C03-label">C03</span>

                                            <input class="color-checkbox__input" type="radio" id="col-C04" value="/Images/product/C04.png" name="colour" />
                                            <label class="color-checkbox C04" for="col-C04" id="col-C04-label" style="background: url('/Images/thumbs/C04.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-C04-label">C04</span>

                                            <input class="color-checkbox__input" type="radio" id="col-C05" value="/Images/product/C05.png" name="colour" />
                                            <label class="color-checkbox C05" for="col-C05" id="col-C05-label" style="background: url('/Images/thumbs/C05.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-C05-label">C05</span>

                                            <input class="color-checkbox__input" type="radio" id="col-C06" value="/Images/product/C06.png" name="colour" />
                                            <label class="color-checkbox C06" for="col-C06" id="col-C06-label" style="background: url('/Images/thumbs/C06.jpg') no-repeat top left scroll;background-size: contain;"></label>
                                            <span class="mdl-tooltip" for="col-C06-label">C06</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <button id="button-submit" class="mdl-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect">SUBMIT MY CHOICE</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
    <script type="text/javascript" src='~/Scripts/jquery-3.5.1.min.js'></script>
    <script type="text/javascript" src='~/Scripts/ks/material.min.js'></script>
    <script type="text/javascript" src='~/Scripts/ks/svg.min.js'></script>
    <script type="text/javascript" src='~/Scripts/ks/tinycolor.min.js'></script>
    <script type="text/javascript" src="~/Dist/layui/layui.js"></script>
    <script type="text/javascript" src="~/Scripts/ks/index.js"></script>

</body>

</html>