@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title i18n="i18n.Title">Infantry - Custom Your watch</title>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet prefetch' href='~/Content/ks/material.blue-orange.min.css'>
    <link type="text/css" rel="stylesheet" href="~/Content/ks/style.css">
    <link type="text/css" rel="stylesheet" href="~/Dist/layui/css/layui.css">
    <link type="text/css" rel="stylesheet" href="~/Dist/layui/css/layui.mobile.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <main class="mdl-layout__content">
            <div class="mdl-grid" style="background-color: black;">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--middle">
                    <div style="text-align:center; margin:0 auto;">
                        <img src="~/Images/page/modular42_03.jpg" width="524" height="290" />
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--5-col-tablet mdl-cell--middle">
                    <div style="text-align:center; margin:0 auto;">
                        <a href="~/ks/in"><img src="~/Images/page/modular42_06.jpg" width="524" height="679" /></a>
                        <a href="~/ks/re"><img src="~/Images/page/modular42_07.jpg" width="524" height="679" /></a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
